.lannister {
  background-repeat: no-repeat;
  background-color: black;
  text-align: center;
  color: #F15A29;
  margin-bottom: 0;
}
h2 {
  font-family: Century Schoolbook L;
  color: #F15A29;
}
h3 {
  font-family: Century Schoolbook L;
  color: #F15A29
}
.bolton {
  background-image: url(../image/tyron.jpg);
  color: white;
}
#player-1 {
  width: 50%;
}
#player-2 {
  width: 50%;
}
.pic {
  background-image: url(../image/dices.jpg);
  background-repeat: no-repeat;
  color: white;
  margin: 50px;
  margin-left: 200px;
}
.starks {
}
